body {
    background-image: linear-gradient(#E9C46A,#E76F51);
}

h1, h3 {
    font-family: 'Bebas Neue', cursive;
}

.btn {
    font-size: 1em;
    background-color: #2A9D8F;
    color: white;
}

#home {
    height: 100vh;
    background-image: url(../images/SpaceBackground.jpg);
    color:white;
}

#name {
    color: #2A9D8F;
}


#intro {
    background-color: #264653;
}

#contact, .navbar-custom , .nav-link{
    background-color: #264653;
    color:white;
    font-size:1.2em;
}

    .nav-link:hover {
        color: #2A9D8F;
    }

.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

#view_img, .projects img{
    width:100%;
}

.project_details {
    display: none;
    background-color: #2A9D8F;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
}
.projects_details:hover {
    border: solid 10px #2A9D8F;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
}